
<%- include('partials/header',{savedBtn:false}) %>
  

        <div class="saved">
                <div class="notes-container" >

                    <%
                    var date = [];
                    // var users = []
                    // console.log(kees)
                    // console.log(users)
                    var yearCreated = [];

                    var month = [];
                    month[0] = "January";
                    month[1] = "February";
                    month[2] = "March";
                    month[3] = "April";
                    month[4] = "May";
                    month[5] = "June";
                    month[6] = "July";
                    month[7] = "August";
                    month[8] = "September";
                    month[9] = "October";
                    month[10] = "November";
                    month[11] = "December";
                    var months = [];
                    kees.forEach(function(kee){
                        date.push(kee.created.toDateString());
                        months.push(month[kee.created.getMonth()]);
                        // console.log(kee.created.getFullYear());
                        yearCreated.push(kee.created.getFullYear());
                    });

                    var years = [...new Set(yearCreated)];

                   

                    var days = [...new Set(date)];
                      years.reverse();
                      
                      days.reverse();
                      // days.reverese
                        years.forEach(function(year,y) { 
                    var mons = [...new Set(months)];
                    mons.reverse();
                          // console.log(year,y);
                          %>
                        
                        <p class="year"><%= year %></p>
                        
                        <%
                          
                        mons.forEach(function(mon,m){
             
                   console.log(year.toString(), mon,days[m].substring(11));
                  //  check if images actually exist in month of year
                   if(year.toString() == days[m].substring(11)) {
                    %>

                        <p class="date" ><%= mon %> </p>

                        <div class="notes">
                    <% 
                    // users.forEach(function(user,u) {
                           
                    kees.reverse();
                    kees.forEach(function(kee, i){
                    // var d = kee.created.getDate();
                    // var m = kee.created.getMonth();
                    // var y = kee.created.getFullYear();


                    // var m = month[kee.created.getMonth()]
                    // console.log(days, kee.created) 
                    // console.log(m);
                    // var weekday = [];
                    // weekday[0] = "Sunday";
                    // weekday[1] = "Monday";
                    // weekday[2] = "Tuesday";
                    // weekday[3] = "Wednesday";
                    // weekday[4] = "Thursday";
                    // weekday[5] = "Friday";
                    // weekday[6] = "Saturday";

                    // var day = weekday[kee.created.getDay()];

                     //for each day in days, display all of the notes for that day

                    //   if (kee.created.toDateString() === days[d]) {
                    // console.log(mon,month[kee.created.getMonth()],kee.created.getMonth(),m);
                    if(month[kee.created.getMonth()] == mon && year == kee.created.getFullYear() ) {
                            //  console.log(days[d],kee.created.toDateString(),d);
                      // if(kee.image){
                        // console.log
                    %>

                        <a id="mySavedImg<%= kee._id %>" href="/saved/<%= kee._id %>">
                            <img data-lazy="<%= kee.image %>" crossorigin="anonymous" class="saved-image" src="" />
                        </a>

                    <%  }  });   %>
                    </div>
                <% }  });  }); %>

            </div>


        </div>

<% include partials/footer %>